:root {
  --violet: hsl(263, 55%, 52%);
  --blue: hsl(217, 19%, 35%);
  --blue-hard: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 81%);
  --gray-soft: hsl(210, 46%, 95%);
}

/* container */
.container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "one one two three"
    "four five five three";
  /* grid-template-columns: repeat(4,1fr); */
}

/* card style */

.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 16px;
}

.card-header {
  display: flex;
  align-items: center;
}
.card-header-image img {
  border-radius: 100%;
  border: 4px solid var(--blue);
}
.card-header-info {
  display: flex;
  flex-direction: column;
  color: var(--white);
  margin-left: 24px;
}

.card-header-info span:nth-child(1) {
  font-weight: 800;
}

/* first card style */

.card.first-card {
  background-color: var(--violet);
  color: var(--white);
  background-image: url(./assets/pattern.svg);
  background-repeat: no-repeat;
  background-position: right top;

  /* grid-column: 1/3; */

  grid-area: one;
  border-right: 19px solid transparent;
  border-top: 10px solid transparent;
}

/* second card style */

.card.second-card {
  background-color: var(--blue);
  color: var(--white);
  grid-area: two;
}

/* third card style */

.card.third-card {
  background-color: var(--white);
  color: var(--blue);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* grid-row: 2 span; */
  grid-area: three;
}

/* forth card style */

.card.forth-card {
  background-color: var(--white);
  color: var(--blue);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  grid-area: four;
}

.card.fifth-card {
  background-color: var(--blue-hard);
  color: var(--white);
  grid-area: five;

  /* grid-column: 2/4; */
}
